header {
    justify-items: center;
    color: white;
    border: solid green 5px;
    background-color: bisque;
    margin-bottom: 50px;
    }

body {
    background-color: black; /*esto es solo para ver donde esta*/
    margin: 0;
}

.container { /*PAGINA COMPLETA*/
    justify-items: center;
}

.img1 {   /*ESTE ES CONTAINER DE CADA INFO*/
    background-color: brown;
    width: 550px;
}
.texto { /*ESTE ES LA INFO SOBRE IMG*/
    display: flex; 
    justify-content: space-between;
    padding: 1px 18px;
}

.img2 {
    background-color: rgb(118, 63, 170);
    width: 550px;
}

.texto2 {
    display: flex;   
}

#cat, #dog {
    width: 550px;
}
