body {
    background-color: #dbcfc8; 
    margin: 0;
}

header {
    justify-content: center;
    display: flex;
    color: #F5EFEB;
    background-color: #567C8D;
    padding: 10px;
    }

/*seccion que incluyen las cajas de contenido */
.container { 
    justify-items: center;
}

 /*contenedor de informacion*/
.img1 { 
    background-color: black;
    color: white;
    width: 550px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.texto, .texto2, .texto3, .texto4 { 
    display: flex; 
    padding: 1px 18px;
    font-size: 20px;
    gap: 5px;
}
.icon {
    margin-top: 22px;
    padding-left: 320px;
}

.perfil {
    height: 30px;
    width: 35px;
    margin-top: 18px;
    color: rgb(39, 151, 226);
}

.sombra {
    max-height: 680px; 
}

p:nth-child(3) { /*div[class="img1"], si quiero ser mas especifica con uno*/
   padding-bottom: 15px;
   padding-left: 15px;
   padding-right: 15px;
   text-align: left;
}

#cat, #dog, #fly, #food{
    width: 550px;
    height: 660px;
}

/*puntos debajo de imagen*/
.cont-punt {
    display: flex;
    gap: 6px;
    padding-left: 60px;
    padding-top: 95px;
}

.cont-punt :nth-child(even) {
    background-color:rgb(56, 125, 230);
}

.punt:hover {
    transform: scale(1.2);
}

.punt {
    position:relative;
    display: flex;
    width: 7px;
    height: 7px;
    bottom: 90px;
    border-radius: 50%;
    background-color: rgb(255, 246, 246, 0.3);
    left: 200px;
}

/*sombra de numeros*/
.rect {
    position: relative;
    width: 48px;
    height:30px;
    bottom: 750px;
    left: 484px;
    z-index: 0.5;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100px;  
}

/*enunciado de imagen*/

div [class="sombra"] p {
    border-right: 0;
    position: relative;
    bottom: 790px;
    left: 498px;
    color: rgb(255, 255, 255);
}

footer {
    position: relative;
    display: flex;
    background-color: #567C8D;
    height: 100px;
    margin: 0;
}

.cont-footer {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#logo {
    margin-top: 20px;
}

#icon {
    justify-content: space-around;
    margin-right: 5px;
    margin-top: 30px;
    left: 50px; 
    border: solid 2px black;
    border-radius: 20px;
    padding: 7px;
    font-size: 25px;
}

.info {
    color: black;
    width: 550px;
    justify-content: space-around;
    display: flex;
    justify-items: center;
    padding-left: 150px;
    margin-top: 40px;
}
a {
    text-decoration: none;
    color: #F5EFEB;
    gap: 7px;
    font-size: 20px;
    text-align: center;
    justify-content: space-around;
}

a:hover {
    color: black;
    transform: scale(1.1);
}


