body {
    background-color: #F5EFEB; 
    margin: 0;
}

header {
    justify-items: center;
    color: #F5EFEB;
    background-color: #567C8D;
    padding: 10px;
    }

.container { /*PAGINA COMPLETA*/
    justify-items: center;
}

.img1, .img2 {   /*ESTE ES CONTAINER DE CADA INFO*/
    background-color: brown;
    width: 550px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.texto, .texto2 { /*ESTE ES LA INFO SOBRE IMG*/
    display: flex; 
    justify-content: space-between;
    padding: 1px 18px;
    font-size: 17px;
}

p:nth-child(3) { /*div[class="img1"], si quiero ser mas especifica con uno*/
   padding-bottom: 15px;
   padding-left: 10px;
   text-align: left;
}

#cat, #dog {
    width: 550px;
}
